/* CSS Document */



/* reset.css  form, label,*/
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset,  legend,   article, aside, dialog, figure, footer, header, hgroup, nav, section {
	margin:0;
	padding:0;
	border:0;
	font-size:14px;
	vertical-align:baseline;
	font-family: inherit;
}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background:white;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}

/* typography.css */

html {font-size:;}

body {
	height:100%;
	color:#000;
	background:#fff;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#fff;
	
} 

/* headings */

h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#000;} 

h1 {font-size:24px;line-height:1; padding-bottom:0px; 
    padding-left:5px; color:#515151; font-weight:500}
h2 {
	font-size:20px;
	margin-bottom:0.75em;
	color:#09F
}
h3 {font-size:16px;line-height:1; margin-bottom:5px; color:FFF;
    font-weight:bold;}
h4 {font-size:14px;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:14px;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:14px;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img  {margin:0;}

p {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.left {float:left !important;}
p .left {margin:1.5em 1.5em 1.5em 0;padding:0;}
.right {float:right !important;}
p .right {}

/* 
a 		  {color:#03F; text-decoration:underline;}
a:visited {color:#03f;}
a:active  {color:#003;}
a:focus   {color:#09f;}
a:hover   {Color:#0099ff;}  */

blockquote {margin:1.5em;color:#666;font-style:italic;}
strong, dfn {
	font-weight:bold;
	color: #000;
}
em, dfn {font-style:italic;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}

li ul, li ol {margin:0;}
ul, ol {margin:0 1.5em 1.5em 0;padding-left:1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff; width:220px;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.bottom {margin-bottom:0;padding-bottom:0;}



		/* Classes */

.font_blue { color:#0000FF; }
.font_green {color:#00FF00;}
.font_ccc {color:#ccc;}
.font_dark_grey {color:#575757}


.px12_none { text-decoration:none; font-weight:normal; font-size:12px; }
.px14_none { text-decoration:none; font-weight:normal; font-size:14px; }
.style_none {text-decoration:none;}
.20px_n {font-size:20px; color:#FF0000;}
.px10 {font-size:10px}
.px12 {font-size:12px}
.px14 {font-size:14px}
.px16 {font-size:16px}
.px18 {font-size:18px}
.px19 {font-size:19px}
.px20 {font-size:20px}
.px21 {font-size:21px}
.px22 {font-size:22px}
.px23 {font-size:23px}
.px24 {font-size:24px}
.px25 {font-size:25px}
.px26 {font-size:26px}
.px27 {font-size:27px}
.px28 {font-size:28px}
.px29 {font-size:29px}
.px30 {font-size:30px}


.font_dark_blue {color:#002530;}

.font_comic {font-family:"Comic Sans MS", cursive;}

.bg_green {background-color:#00CC00;}
.bg_red   { background-color:#F00;}
.bg_soft_grey {background-color:#CCC;}


.fc_white { color:#fff;}

.focus_txt_green:focus {color:#090;}
.focus_bg_blue:focus {background-color:#A9E7FE;}
.focus_brd_black:focus {border:2px #000 solid;}


.alight_left {text-align:left;}
.alight_right {text-align:right;}
.alight_centre {text-align:center;}


.brd_bottom_2px_ccc {border-bottom:2px #ccc solid;}



.shadow {

-moz-box-shadow: 3px 3px 4px #000;

-webkit-box-shadow: 3px 3px 4px #000;

box-shadow: 3px 3px 4px #000;

/* For IE 8 */

-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";

/* For IE 5.5 - 7 */

filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');

}

/* conteiners */



#top { width:100%; height:100%; background-color:#FFFFFF;  padding:30px 0; overflow-x: hidden; } /*background-image:url(../img/bg_pat.png);*/

#wraper {
	height:auto;
	width:1050px;
	padding:2px;
	margin:0 auto;
	font-size: 14%;
/* 	border:1px #ccc solid;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
*/

}

 #l_menu { width:900px; height:150px; margin:auto; } 


#menu { float:left; margin-top:50px; width:600px; }
#menu ul {margin:0; padding:0;}
#menu li { display:inline; position:relative; margin:0; padding:0; list-style:none; float:left; }
#menu ul li ul li {width:150px;}
#menu ul li a { text-decoration:none; margin-left:40px; color:#747474; font-family:"Myriad Pro"; display:inline;  }
#menu ul li a:hover { color:#CCC;  }
#menu ul ul  { position:absolute; visibility:hidden;}
#menu ul li:hover ul { visibility:visible;}

/************* Resume **********************************/

.resume_icon {
	float:right;
	margin:5px 50px 5px 5px;
	}

.resume_hero{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	width:95%;
	height:auto;
	margin:10px auto;}

div.resume_hero img {
	width:100%;
	height:auto;}


#resume { width:80%; min-width:1050px;  margin:auto;   }
#resume_left_column {
	width:50%;
	margin:auto;
	padding:1.5em;
	float:left;
	}
#resume_right_column {
	width:35%;
	margin:auto;
	float:right;
	padding:1.5em;}

.resume_headlines {
	font-size:1.2em;
	font-weight:bold;
	font-style:italic;
	}
.resume_text_head {
	font-size:1.2em;
	
}
.resume_text {
}

#resume_bottom {
	margin:180px 0;
	width:400px;
	height:125px;
	float:right;}


#resume_signature {
	margin-top: 20px;
	width:300px;
	height:60px;
	display:inline-block;
	display:-webkit-inline-box;
	position:relative;
}
div#resume_signature img {
	position:absolute;
	top:-47px;
	left:-50px;}
	
div#resume_signature p {
	position:absolute;
	z-index:100;}

#resume_img {
	width:152px;
	height:110px;
	float:right;}

/************************************************************88*/

#in_baner { opacity:0,5; height:400px; }
#baner_image {border-radius: 10px;}

#in_1 { width:1000px; height:40px; margin-left:25px; border-bottom:2px #ccc solid;}
#in_1 a {text-decoration:none; font-size:22px; color:#515151;}
#in_1 a:hover {text-decoration:underline; color:#ccc; color:#575757;}

#in_2 { width:1000px; height:30px; margin-left:25px; border-bottom:2px #ccc solid;}
#in_2 a {text-decoration:none; font-size:22px; color:#515151;}
#in_2 a:hover {text-decoration:underline; color:#ccc; color:#575757;}




#content {    width:1000px; height:450px; margin:10px auto;  }

#in_box {width:300px; height:400px; margin-top:30px; margin-left:20px; float:left;   }
#in_box2 {width:300px; height:400px; margin-top:30px; margin-left:20px; float:left;    }
#in_box3 {width:300px; height:400px; margin-top:30px; margin-left:20px; float:left;    }

#content_2 {  padding-top:20px; width:1200px; height:450px; margin:10px auto; }
.box_300 { width:300px; margin:20px; float:left;}


				/*portfolio*/
#p_menu {}
#p_menu ul      { margin-left:600px; margin-top:100px; }
#p_menu ul li   {  display:inline;}
#p_menu ul li a { text-decoration:none; font-size:18px; margin:5px 35px; color:#747474; font-family:Myriad Pro; }
#p_menu a:hover  {text-decoration:underline; color:#747474;}


#p_box_graph {width:500px; height:500px; float:left;} 

.hero_img{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	width:75%;
	height:auto;
	margin:10px auto;}

div.hero_img img {
	width:100%;
	height:auto;}


.box_200 {
	float:left;
	width:200px;
	height:250px;
	margin:20px 20px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
   }
.box_200:hover {
		 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
.box_250 {float:left; width:250px; height:200px; margin:5px;}

#pi_content { height:1300px;}
#p_last_content { height:600px}


#nav { margin:50px 0 20px 400px;   width:300px; height:90px;}
#nav ul li { list-style-type:none;  }
#nav ul li a { display:block; float:left; border:1px #ccc solid; padding:0px 6px; margin:5px 7px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; text-decoration:none; color:#000; background-color:#B5B5B5; }

#nav ul li a:hover { background-color:#ccc;}

#prev_next { width:170px; height:40px; margin:auto; clear:both; }

#nav_d {float:left; clear:both;}
#nav_d ul li { list-style-type:none; }
#nav_d  ul li a { display:block; float:left; border:1px #ccc solid; padding:0px 6px; margin:5px 7px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; text-decoration:none; color:#000; background-color:#B5B5B5; }
#nav_d ul li a:hover { background-color:#ccc;}

	/*************** interior *************************************************/
	
.hero_wrraper{}

.hero_img{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	width:75%;
	height:auto;
	margin:10px auto;}

div.hero_img img {
	width:100%;
	height:auto;}





					/*Contact */
#contact-form {
	width:350px;
	padding:5px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin:20px auto;
}

div#contact-form h3 {color:#747474; font-family:"Myriad Pro"; font-weight:300; padding:5px;}

#name {width:200px;}
#mail {width:200px;}
#text {width:250px;}

form input#name,
form input#mail,
form textarea#text {
		font-family:"Myriad Pro";
		font-size:1.3em;
		border:2px solid #747474;
		border-radius:4px;
		background-color:#F7F7F7;
		color:#747474;
		padding:.2em;
}

form input#name:hover,
form input#mail:hover,
form textarea#text:hover {
	border-color:#9E9E9E;
}

form input#name:focus,
form input#mail:focus,
form textarea#text:focus: {
	border-color:#9E9E9E;
}

   
#contacts   {float:left; color:#FFFFFF; margin-left:10px; font-family:"Myriad Pro"; padding:5px;}
div#contacts p {color:#fff;}   
div#contacts h1 {font-family:"Myriad Pro"; font-weight:100;}
div#contacts a	{color:#515151; font-family:"Myriad Pro"; font-weight:100; text-decoration:none; font-size:18px;}
div#contacts a:hover {color:#fff;}

.contacts_h2 {font-size:18px; margin:5px 0;}  

						/*Flash*/
#p_content {display:table; width:960px; margin:0 auto 50px auto; }
#p2_content { height:1300px;}
#p_content_ind {height:500px;}



#p_flash {  width:900px; height:400px; margin:20px 70px;}
.p_flash {  width:900px; height:400px; margin:20px 70px;}
.p_title {border-bottom:2px #ccc solid; margin-left:50px}
#p_flash2 {width:430px; height:600px; margin:20px 46px; float:left;}
#p_election { width:120px; height:25px; margin-left:50px; float:left; }
#p_sport    {width:160px; height:25px; float:left; margin-left:410px; }

@media all and (max-width: 1000px) {
	#contact-form {display:inline-block;}
}

@media all and (max-width: 960px) and (min-width:730px){
	#p_content {display:table; width:730px; margin:0 auto 50px auto;
	}
}

@media all and (max-width: 729px) and (min-width:605px){
	#p_content {width:80%;
	}
	.box_200 {
	width:25%;
	height:auto;
   }
}
@media all and (max-width: 605px) and (min-width:350px){
	#p_content {width:100%;
	}
	.box_200 {
	width:37%;
	height:auto;
   }
}


@media all and (max-width: 349px) and (min-width:269px){
	#p_content {width:100%;
	}

	.box_200 {
	width:35%;
	height:auto;
   }

}
@media all and (max-width: 268px){
	#p_content {width:100%;
	}

	.box_200 {
	width:30%;
	height:auto;
	margin:10px 20px;
   }

}
